@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
    --black: rgb(0, 0, 0);
    --white: #f5f5f5;
    --grey: rgb(182, 182, 182);
    --purple: rgb(131, 58, 180);
    --red: rgb(240,23,23);
    --orange: rgb(255,197,118);
    --light-orange: rgba(254,106,103,1);
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    scroll-behavior: smooth;
    color: var(--white);
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,197,118,1) 0%, rgba(254,106,103,1) 47.7%, rgba(240,23,23,1) 92.3% );
}

.flex {
    display: flex;
    flex-direction: row;
}
.divide {
    justify-content: space-between;
}

.center {
    text-align: center;
    justify-content: center;
}

.round-border {
    border-radius: 1.5rem;
    border: 1px solid white;
}

.padding-1x {
    padding: 1rem;
}

.box-shadow {
    box-shadow: 0 4px 4px var(--orange);
}

.spacer {
    margin-bottom: 8rem;
}

h1 {
    font-size: 3rem;
}

button {
    font-size: 1.1rem;
    padding: 2vh 6vw;
    background-color: var(--red);
    color: var(--white);
    margin: 1rem;
}

button:hover {
    background-color: var(--orange);
}

#search-input {
    padding-left: 3rem;

}

#search-icon {
    z-index: 100;
    position: absolute;
    color: var(--grey);
    top: 28px;
    right: 188px;
}