@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: whitesmoke;
  --black: black;
  --grey: #b3b3b3;
  --cream: #fff4e1;
  --blue: #a3bffa;
}

html {
  scroll-behavior: smooth;
  overflow: hidden;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  background: no-repeat linear-gradient(to bottom, #0b0b2b, #1b2735 70%, #090a0f);
  color: var(--cream);
}

body {
  min-height: 100vh;
}

h1 {
  font-size: 3.2rem;
}

nav {
  padding: 1em;
  display: flex;
  justify-content: flex-end;
  gap: 1em;
  align-items: center;
}

nav div {
  display: flex;
  align-items: center;
}

#search-icon {
  position: absolute;
  right: 10px;
  opacity: 0.8;
}

main {
  display: grid;
  gap: 2em;
  margin-top: 5%;
  place-items: center;
}

input {
  padding: 1em;
  background-color: transparent;
  color: var(--cream);
  border: 1px solid var(--cream);
  font-size: 1rem;
}

div button {
  font-size: 1rem;
  padding: 1em;
  background-color: var(--cream);
  border: none;
}

.container {
  display: flex;
  position: relative;
}

ul {
  display: grid;
  place-items: center;
  list-style: none;
  gap: 1rem;
}

ul li {
  display: flex;
  padding: 1em;
  border: 2px solid var(--cream);
  border-radius: 2em;
  color: var(--cream);
  align-items: center;
  width: 100%;
  gap: 5vw;
  text-decoration: none;
  opacity: 1;
  transition: all 0.3s linear;
  box-shadow: 0 2px 2px var(--black);
}

ul li div {
  display: flex;
  flex-wrap: wrap;
}

ul li span {
  display: flex;
  flex-direction: row;
  gap: 1em;
  margin-left: auto;
}

ul li span i {
  padding: 0.15em;
}

ul li span i:hover {
  background-color: rgba(60, 70, 90, 0.8);
  border-radius: 5rem;
}

.clickable,
button {
  cursor: pointer;
}

.blink::after {
  content: '|';
  color: var(--cream);
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.dim {
  opacity: 0.5;
  transition: all 0.5s linear;
  border-color: rgba(255, 244, 225, 0.5) !important;
}

.dim .task-li {
  text-decoration: line-through;
}
